# Sublime Files
*.sublime-project
*.sublime-workspace
 
# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Maven
log/
target/
 
# OSX
.DS_Store
 
# Linux
.*
!.gitignore
*~
 
# KDE
.directory
 
# Windows
.Spotlight-V100
.Trashes
Thumbs.db 
._*
Desktop.ini
$RECYCLE.BIN/
